@keyframes start {
    from {
        opacity: 0;
        transform: translate3d(0, -20%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

html,body{
    background-image: url('https://wallpaperaccess.com/full/1782494.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}
.container{
    height: 100%;
    align-content: center;
}
.card{
    height: 400px;
    margin-top: auto;
    margin-bottom: auto;
    animation-name: start;
    animation-duration: 1s;
    width: 350px;
    background-color: rgba(0,0,0,0.5);
}
.card-header h1{
    color: white;
    text-align: center;
}
.input-group-prepend span{
    width: 50px;
    background-color: #1281ff;
    color: black;
    border:0 !important;
}
#remember-me{
    color: white;
}
#submitButton{
    color: black;
    background-color: #1281ff;
    width: 100px;
    margin-top: 20px;
    color: white;
}
#submitButton:hover{
    color: black;
    background-color: white;
}
svg{
    margin: auto;
}